<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/base.css" />
    <link rel="stylesheet" href="/medium-editor.css" />
    <link rel="stylesheet" href="/default.css" />
    <link rel="stylesheet" id="style" href=/<%- requestStyle + ".css" -%> />
    <link rel="icon" href="/favicon.png" />
    <title>-</title>
  </head>
  <% if (!data.frames.length) data.frames = ['src/index.md']; %>
  <% var frame = data.frames[0]; %>
  <body
     class="region--frame region--frame--<%- frame.replace(/[^_a-zA-Z0-9-]+/g, '_') %>"
  >
     <div
       <%- published ? '' : 'contenteditable' -%>
     >
       <div class="region--frame-inner">
         <%- require('./readFile')(frame); -%>
       </div>
     </div>
     <% if (data.frames.length  > 1 && index % 2 === 0) { %>
       <div class="ctl--handle"></div>
     <% } %>

    <select class="ctl--styleChanger">
      <option value="">none</option>

      <% data.styles.forEach(function(style, index) { %>
        <option
          <%- style === requestStyle ? 'selected' : '' -%>
          value=<%= style %>><%=style %>
        </option>
      <% }); %>

    </select>
    <script src="scripts/drag.js"></script>
    <script src="scripts/handleStyleChange.js"></script>
    <script src="scripts/ResizeSensor.js"></script>
    <script src="scripts/ElementQueries.js"></script>
    <script src="scripts/medium-editor.js"></script>
    <script>
      var editor = new MediumEditor('[contenteditable]', {
        buttons: [
          'bold',
          'italic',
          'underline',
          'anchor',
          'quote',
          'header1',
          'header2'
        ],
        firstHeader: 'h1',
        secondHeader: 'h2'
      });
    </script>
  </body>
</html>
