<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" id="baseStyle" href="<%- prefix %>assets/stylesheets/base.css" />
    <% if (requestStyle && requestStyle.length) { %>
      <link rel="stylesheet" id="style" href=<%- requestStyle ? requestStyle + ".css" : '' -%> />
    <% } %>
    <link rel="icon" href="favicon.png" />
    <title>
      <% if ((typeof title !== "undefined") && title.length !== 0) { %>
        <%= title %> - Memetica
      <% } else { %>
        Memetica
      <% } %>
    </title>
  </head>

  <body class="<%- bodyClass %>">
    <svg style="display: none">
      <%- include('svg/octoface.svg') %>
      <%- include('svg/goat.svg') %>
    </svg>
    <div
      <%- published ? '' : 'contenteditable' -%>
      style="overflow: hidden;"
    >
      <div class="region--frame-inner">
        <%- header -%>
        <%- frameContent -%>
        <%- footer -%>
      </div>
      <% if (typeof index === "undefined") { %>
        <%- include('share.html', {title: title}) -%>
      <% } %>
    </div>
    <div class="context has-toggle">
      <a href="./">Home</a>
      <a href="https://github.com/nchase/memetica">
        <span class="icon-container">
          <svg class="icon">
            <use xlink:href="#octoface"></use>
          </svg>
        </span>
      </a>
      <select class="ctl ctl--styleChanger">
        <option value="">none</option>

        <% data.styles.forEach(function(style, index) { %>
          <option
            <%- style === requestStyle ? 'selected' : '' -%>
            value=<%- prefix %>assets/stylesheets/<%= style %>><%=style %>
          </option>
        <% }); %>

      </select>

      <button class="ctl ctl--styleToggle">
        Toggle Styles
      </button>

      <% if (!published) { %>
        <button class="ctl ctl--serialize">
          Save
        </button>
      <% } %>
    </div>

    <% if (published) { %>
      <script src="<%- prefix %>assets/scripts/bundle.js"></script>
    <% } else { %>
      <script src="<%- prefix %>assets/scripts/contextMenu.js"></script>
      <script src="<%- prefix %>assets/scripts/handleStyleChange.js"></script>
    <% } %>
    <% if (hasCode) { %>
      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/default.min.css">
      <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/highlight.min.js"></script>
      <script>hljs.initHighlightingOnLoad();</script>
    <% } %>
    <% if (published && !notrack) { %>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-57092-19', 'auto');
        ga('send', 'pageview');

        document.getElementById('newsletterSignup') && document.getElementById('newsletterSignup').addEventListener('click', function(event) {
          ga('send', {
            hitType: 'event',
            eventAction: 'newsletterSignup',
            eventLabel: document.getElementById('emailList').value,
            eventValue: '10'
          });
        });
      </script>
    <% } %>
  </body>
</html>
