<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/base.css" />
    <link rel="stylesheet" href="/medium-editor.css" />
    <link rel="stylesheet" id="style" href=/<%- requestStyle ? requestStyle + ".css" : '' -%> />
    <link rel="icon" href="/favicon.png" />
    <title>-</title>
  </head>
  <% if (!data.frames.length) data.frames = ['src/demo.md']; %>
  <% var frame = data.frames[0]; %>
  <body
     class="region--frame region--frame--<%- frame.replace(/[^_a-zA-Z0-9-]+/g, '_') %>"
  >
     <div
       <%- published ? '' : 'contenteditable' -%>
     >
       <div class="region--frame-inner">
         <%- require('./readFile')(frame); -%>
       </div>
     </div>
     <% if (data.frames.length  > 1 && index % 2 === 0) { %>
       <div class="ctl--handle"></div>
     <% } %>

    <select class="ctl--styleChanger">
      <option value="">none</option>

      <% data.styles.forEach(function(style, index) { %>
        <option
          <%- style === requestStyle ? 'selected' : '' -%>
          value=<%= style %>><%=style %>
        </option>
      <% }); %>

    </select>

    <% if (!published) { %>
      <button class="ctl--serialize">
        Save
      </button>
    <% } %>

    <script>
      function serializeDocument(document) {
        var request = new XMLHttpRequest();

        request.open('PUT', 'serialize', true);
        request.send(document);
        window.document.body.classList.add('is-serializing');
        request.onload = function(a,b,c) {
          window.document.body.classList.remove('is-serializing');
        };
      }

      function handleSerialize(event) {
        var modKey = (navigator.platform.match("Mac") ? event.metaKey : event.ctrlKey)

        if (event.type === 'click' || event.type === 'keydown' && modKey && event.keyCode === 83) {
          event.preventDefault();
          serializeDocument(document.body.querySelector('.region--frame-inner').innerHTML);
        }
      }

      document.body.addEventListener('keydown', handleSerialize);

      document.querySelector('.ctl--serialize') &&
      document.querySelector('.ctl--serialize').addEventListener('click', handleSerialize);
    </script>
    <script src="scripts/drag.js"></script>
    <script src="scripts/handleStyleChange.js"></script>
    <script src="scripts/medium-editor.js"></script>
    <script>
      var editor = new MediumEditor('[contenteditable]', {
        buttons: [
          'bold',
          'italic',
          'underline',
          'anchor',
          'quote',
          'header1',
          'header2'
        ],
        firstHeader: 'h1',
        secondHeader: 'h2'
      });
    </script>
  </body>
</html>
