@font-face {
  src: url("../fonts/bauhaus.ttf");
  font-family: 'Bauhaus'; }

.region--frame {
  color: #ffff00;
  background-color: #272727;
  border-bottom-color: #636363; }

h1, h2, blockquote {
  font-family: Bauhaus; }

p {
  font-family: monospace; }

h1 {
  text-shadow: -0.15em 0 red, -0.25em 0 green; }

hr {
  margin: 1.5em 0; }

hr:before {
  content: '';
  border-radius: 50%;
  background-color: #ffff00; }

.region--frame--singlet hr {
  margin: 0 0 1.5em; }

.col + hr {
  margin: 2em 0 3em; }
