@mixin box(
  $position: static,
  $animate: true,
  $animationSpeed: 1000ms,
  $size: 100px,
  $color: #fff
) {
  position: $position;

  @if $position == "fixed" {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }

  width: $size;
  height: $size;
  box-shadow: inset 0 0 0 1px $color;
  animation: rota $animationSpeed infinite;
}

@keyframes rota {
  to {
    transform: rotate(0.5turn);
  }
}

/* --- the rest: --- */

.region--frame {
  color: #fff;
  background-color: #000;
}

.region--frame-inner {
  &:before {
    content: '';
    @include box($position: fixed, $animationSpeed: 6000ms, $size: 25vw, $color: hsla(0, 0, 100%, 0.15));
  }
}

.decorator--header-pageTitleContainer {
  margin: 0 3em;
}

.decorator--header-icon {
  display: block;
  margin: 3em 0;
}
.decorator--header-text {
  display: block;
}

.decorator--header-icon svg {
  @include box($animationSpeed: 2000ms);
}

.decorator--header-icon svg use {
  display: none;
}
