@mixin box(
  $position: static,
  $animation: rota,
  $animationSpeed: 1000ms,
  $size: 100px,
  $color: #fff
) {
  position: $position;

  @if $position == "fixed" {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }

  width: $size;
  height: $size;
  box-shadow: inset 0 0 0 1px $color;
  animation: $animation $animationSpeed;
  animation-iteration-count: 30;
}

@keyframes rota {
  to {
    transform: rotate(0.5turn);
  }
}


@keyframes rota--frame {
  to {
    transform: rotate(0.5turn) scale(0.75);
    opacity: 0;
  }
}

/* --- the rest: --- */

.region--frame {
  color: #fff;
  background-color: #000;
}

.region--frame-inner {
  &:before {
    content: '';
    @include box($position: fixed, $animation: rota--frame, $animationSpeed: 1250ms, $size: 33vw);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
}

.decorator--header-pageTitleContainer {
  margin: 0 3em;
}

.decorator--header-icon {
  display: block;
  margin: 3em 0;
}
.decorator--header-text {
  display: block;
}

.decorator--header-icon-structure {
  fill: none;
  @include box($animationSpeed: 2000ms);
}

.decorator--header-icon-structure-data {
  display: none;
}
