@charset "UTF-8";
@font-face {
  src: url('../fonts/frontage-3d.otf');
  font-family: 'Frontage 3D'; }

.region--frame {
  color: #7A00FF;
  background-color: #FFEB5C;
  border-bottom: 1em solid #7A00FF; }

h1 {
  font-family: 'Frontage 3D'; }

h2, p, blockquote, ol, ul {
  font-family: monospace; }

hr {
  margin: 1.5em 0; }

hr:before {
  content: '❧';
  font-family: 'Arial Unicode MS', 'Zapf Dingbats'; }

.region--frame--singlet hr {
  margin: 0 0 1.5em; }

