* {
  box-sizing: border-box;
  transition: inherit;
}

html {
  height: 100%;
}

iframe {
  min-height: 100%;
}

body {
  margin: 0;
}

iframe,
.region--frame {
  width: 100%;
  border: none;
}

[contenteditable]:focus {
  outline: none;
}

.region--frame {
  background-color: #fff;
  padding: 1em 1em 0;
  overflow: scroll;
  transition-property: background-color;
  transition-duration: 300ms;
}
.region--frame.is-serializing {
  color: #fff;
  background-color: #fff;
}

.region--frame-inner {
  margin: 0 auto;
  transition-property:
    color,
    background-color,
    text-shadow,
    font-size,
    width,
    min-width;
  transition-duration: 500ms;
}

.ctl--handle {
  border: solid;
  border-width: 0 0.25em;
  border-left-color: hsl(0, 60%, 75%);
  border-right-color: hsl(200, 60%, 75%);
  cursor: grab;

}

.ctl--styleChanger {
  position: absolute;
  top: 1em;
  right: 1em;
  height: 4em;
  font-family: monospace;
  color: inherit;
  background-color: inherit;
  border-color: currentColor;
  opacity: 1;
}

.ctl--serialize {
  font-family: monospace;
  color: inherit;
  background-color: inherit;
  border-color: currentColor;
  border-style: solid;
}

h1, h2, p, blockquote {
  margin: 0;
  line-height: 1.5;
}

h1,
h2 {
  font-weight: normal;
}

h1 {
  margin-bottom: 0.5em;
  font-size: 2.75em;

  @media (min-width: 60em) {
    font-size: 3em;
  }
}

h2 {
  margin-bottom: 1.5em;
  font-size: 1.375em;

  @media (min-width: 60em) {
    font-size: 1.5em;
  }
}

p {
  margin-bottom: 1.5em;
}

a {
  color: inherit;
}

blockquote {
  margin: 0 0 1.5em;
  padding-left: 1em;
  border-left: 0.25em solid currentColor;
}

hr {
  @extend .u-absolute--before;

  height: 1px;
  margin: 0 0 1.5em;
  border: none;
  font-family: Baskerville;
  font-size: 1.5em;

  &:before {
    content: '§';
    width: 1em;
    height: 1em;
    color: inherit;
  }
}

.col + hr {
  margin: 2em 0 3em;
}

.footnotes {
  font-size: 0.9em;
}
.footnotes hr {
  border: 1px solid currentColor;

  &:before {
    content: '';
  }
}
.footnotes ol {
  margin: 1.5em 1em;
  padding-left: 1em;
}

.region--frame {
  min-height: 100%;
}

.region--frame-inner {
  margin: auto;

  @media (min-width: 64em) {
    max-width: none;
    width: 64em;
  }

  @media (min-width: 90em) {
    width: 90em;
  }
}


.col {
  @media (min-width: 64em) {
    display: inline-block;
    margin: 0 1.66% 0;
    width: 46.44%;
    vertical-align: top;
  }

  @media (min-width: 90em) {
    margin-right: 3.33%;
    margin-left: 0;
    width: 44.44%;
  }
}

.col:only-child {
  width: 100%;
}

.col + .col:nth-child(odd) {
  margin: 6.67% 0 0;
  width: 100%;

  @media (min-width: 90em) {
    width: 22.22%;
  }
}

.col + .col {
  @media (min-width: 64em) {
    margin-top: 6.67%;
  }

  @media (min-width: 90em) {
    width: 22.22%;
  }
}

.col:nth-child(n + 4) {
  margin: 6.67% 0 0;
  width: 100%;

  @media (min-width: 90em) {
    margin-right: 3.33%;
    width: 22.22%;
  }
}

.img,
img {
  display: block;
  margin: 1em auto;
  width: 100%;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}


@media (min-width: 90em) {
  .img--left {
    max-width: 50%;
    float: left;
    margin-top: 0;
    margin-right: 1em;
  }

  .img--right {
    max-width: 50%;
    float: right;
    margin-top: 0;
    margin-left: 1em;
  }

  .col .img:first-child {
    margin-top: 0;
  }

  .col hr:first-child {
    margin-top: 0;
    margin-bottom: 3em;

    &:before {
      bottom: auto;
    }
  }
}

.img--small {
  max-width: 50%;
}

@media (min-width: 90em) {
  .img--small.img--left {
    max-width: 25%;
  }

  .img--small.img--right {
    max-width: 25%;
  }
}

// `.u-` - "utility" styles (e.g. pure positioning classes):

.u-center {
  text-align: center;
}

.u-absolute {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.u-absolute--before {
  position: relative;

  &:before {
    @extend .u-absolute;
  }
}

// `.b-` - styles based on behavior:

.b-dragging {
  user-select: none;
  cursor: col-resize;
}
