* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

iframe {
  min-height: 100%;
}

body {
  margin: 0;
}

iframe,
.region--frame {
  width: 100%;
  border: none;
}

.region--frame {
  padding: 1em 1em 0;
  overflow: scroll;
}

.region--frame {
  transition: all 500ms;
}

.region--frame-inner {
  margin: 0 auto;
}

.ctl--handle {
  border: solid;
  border-width: 0 0.25em;
  border-left-color: hsl(0, 60%, 75%);
  border-right-color: hsl(200, 60%, 75%);
  cursor: grab;

}

.b-dragging {
  user-select: none;
  cursor: col-resize;
}
