@font-face {
  src: url('../fonts/calluna-sans.otf');
  font-family: 'Calluna Sans';
}


.region--frame {
  color: #2E303A;
  font-family: Georgia, serif;
}

h1 {
  font-family: 'Calluna Sans';
}

.decorator--header-text {
  border-bottom-width: 0;
}

hr {
  margin: 1.5em 0;
}

hr:before {
  content: '❧';
  color: #ad141e;
  font-family: 'Arial Unicode MS', 'Zapf Dingbats';
}

.region--frame--singlet hr {
  margin: 0 0 1.5em;
}

a {
  color: #ad141e;
}

.region--frame-inner a {
  text-decoration: none;
  box-shadow: 0 1px 0 0 currentColor;

  &:hover {
    box-shadow: 0 2px 0 0 currentColor;
  }
}
